{%  extends 'base.html' %}

{% block title %}
    New Blogpost
{% endblock %}
{% block content %}

{% if user.is_authenticated and user.id == blogpost.author.id %}
    <h1>Edit Blogpost...</h1>
    <br><br>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-secondary">Update</button>
        </form>
    </div>
{% else %}
    <h1> You're not allowed here! (& you know it)</h1>
{% endif %}
{% endblock %}